{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página Cadastro
{% endblock %}

{% block conteudo %}
        <main>

            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <h1 class="hero-title text-center mb-5">Criar viagem</h1>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
                                        <form method="post" action="{% url 'create_user' %}" onsubmit="return validateForm()">
                                            {% csrf_token %}
                                    
                                            <div class="form-floating mb-4 p-0">
                                                <input name="" id="" class="form-control" placeholder="" required  {{ form.driver }}
                                                <label for="">Motorista</label>
                                            </div>

                                            <div class="form-floating mb-4 p-0">
                                                <input type="" name="" id="" class="form-control" placeholder="" required {{ form.departure_location }}
                                                <label for="">Local de saída</label>
                                            </div>

                                            <div class="form-floating mb-4 p-0">
                                                <input type="" name="" id="" class="form-control" placeholder="" required {{ form.destination }}
                                                <label for="">Local de chegada</label>
                                            </div>

                                            <div class="form-floating mb-4 p-0">
                                                <input type="" name="" id="" class="form-control" placeholder="" required {{ form.date_time }}
                                                <label for="">Data e Hora</label>
                                            </div>

                                            <div class="form-floating mb-4 p-0">
                                                <input type="" name="" id="" class="form-control" placeholder="" required  {{ form.available_seats }}
                                                <label for="">Lugares disponíveis</label>
                                            </div>
                                    
                                        
                                        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                            Criar Viagem
                                        </button>
                                    </form>
                                </div>
                                {{formu.errors}}
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>
        </main>
{% endblock %}