{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página Login
{% endblock %}

{% block conteudo %}
  <h2>Viagens Disponíveis</h2>
  <div class="viagem-lista">
    {% for trip in trips %}
      <div class="viagem-item">
        <p class="motorista">Motorista {{ trip.driver }}</p>
        <p class="detalhes-viagem">De {{ trip.departure_location }} para {{ trip.destination }} - {{ trip.date_time }}</p>
        <p class="assentos-disponiveis">Assentos disponíveis: {{ trip.available_seats }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="crie-viagem">
    <h2>Crie sua viagem também</h2>
    <p>Ainda não encontrou a viagem que precisa? Crie sua própria viagem agora!</p>
    <a href="/createtrip/" class="botao-criar-viagem">Criar Viagem</a>
  </div>
{% endblock %}
