{% load static %}
<footer>
    <div>
        <h3>Parceiros</h3>
        <img class="partner-logo" src="../static/images/im1.jpg" alt="Logo Parceiro 1">
        <img class="partner-logo" src="../static/images/im1.jpg" alt="Logo Parceiro 2">
    </div>
    <div>
        <h3>Contato</h3>
        <p>Email: contato@uniway.com</p>
        <p>Telefone: (XX) XXXX-XXXX</p>
    </div>
    <div>
        <h3>Endereço</h3>
        <p>Rua da Uniway, 123</p>
        <p>Cidade, Estado, CEP</p>
    </div>
    <div>
        <p>&copy; 2023 Uniway. Todos os direitos reservados.</p>
    </div>
</footer>