{% load static %}
    <header>
        <img src="../static/images/uniway.jpg">
        <div>
            <button onclick="scrollToSection('home')">Home</button>
            <button onclick="scrollToSection('about')">Sobre Nós</button>
            <button onclick="scrollToSection('trips')">Viagens</button>
            <button onclick="scrollToSection('users')">Usuários</button>
            <button onclick="scrollToSection('rides')">Caronas</button>
            <button onclick="scrollToSection('reviews')">Avaliações</button>
        </div>
        <h1>Uniway - Carona Segura</h1>
    </header>