{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}
    <section class="slick-slideshow">   
        <div class="slick-custom">
            <img src="{% static 'images/slideshow/im1.jpg'%} " class="img-fluid" alt="">
            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Viagens para estudantes simplificada</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Junte-se a nossa plataforma e faça caronas com outros estudantes</p>

                            <a href="/login" class="btn custom-btn">Crie sua conta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slick-custom">
            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Encontre viagens em diversas regiões do estado</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Viagens seguras feitas de estudantes para estudantes.</p>

                            <a href="/find_rides/" class="btn custom-btn">Encontrar viagens</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slick-custom">
            <img src="{% static 'images/slideshow/im3.jpg' %}" class="img-fluid" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Ajude estudantes a encontrar seu destino</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Plataforma de carona com foco em ajudar Universitários chegarem em seus destinos.</p>

                            <a href="/find_rides/" class="btn custom-btn">Encontrar viagens</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="services-section">
            <div class="section-title">Serviços</div>
            <div class="section-subtitle">Descubra o que oferecemos</div>
    
            <div class="service-box">
                <div class="service-title">Viagem</div>
                <div class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
    
            <div class="service-box">
                <div class="service-title">Segurança</div>
                <div class="service-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
            </div>
    
            <div class="service-box">
                <div class="service-title">Conforto</div>
                <div class="service-description">Fusce hendrerit neque eu justo luctus, ut malesuada dolor tincidunt.</div>
            </div>
        </div>
    </section>

    <section class="contact section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-12">
                    <h2 class="mb-4">Entre em <span>contato</span></h2>

                    <form class="contact-form me-lg-5 pe-lg-3" role="form">

                        <label for="message">Entre em contato com a UniWay, queremos tirar suas dúvidas e sugestões</label>


                        <div class="col-lg-5 col-6">
                            <button type="submit" class="form-control">Contato</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6 col-12 mt-5 ms-auto">
                    <div class="row">
                        <div class="col-6 border-end contact-info">
                            <h6 class="mb-3">Número</h6>

                            <a href="mailto:hello@company.com" class="custom-link">
                                123456789
                                <i class="bi-arrow-right ms-2"></i>
                            </a>
                        </div>

                        <div class="col-6 border-end contact-info">
                            <h6 class="mb-3">E-mail</h6>

                            <a href="mailto:hello@company.com" class="custom-link">
                                uniway@gmail.com
                                <i class="bi-arrow-right ms-2"></i>
                            </a>
                        </div>


                        <div class="col-6 border-top border-end contact-info">
                            <h6 class="mb-3">Localização</h6>

                            <p class="text-muted">R. Amauri Souza, 346</p>
                        </div>

                        <div class="col-6 border-top contact-info">
                            <h6 class="mb-3">Nossas redes</h6>

                            <ul class="social-icon">

                                <li><a href="#" class="social-icon-link bi-messenger"></a></li>

                                <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                                <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    

    <section class="featured-product section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-12 text-center">
                    <h2 class="mb-5">Viagens disponíveis</h2>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="/find_rides/">
                            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">17:30</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="/find_rides/" class="product-title-link">Araranguá -> Meleiro</a>
                                </h5>

                                <p class="product-p">Polo Highline</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="/find_rides/">
                            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">17:30</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="/find_rides/" class="product-title-link">Araranguá -> Meleiro</a>
                                </h5>

                                <p class="product-p">Polo Highline</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="/find_rides/">
                            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">17:30</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="/find_rides/" class="product-title-link">Araranguá -> Meleiro</a>
                                </h5>

                                <p class="product-p">Polo Highline</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <a href="/find_rides/" class="btn custom-btn">Ver todas as viagens</a>
                </div>

            </div>
        </div>
    </section>
    
{% endblock %}
