{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}
    <section class="slick-slideshow">   
        <div class="slick-custom">
            <img src="{% static 'images/slideshow/im1.jpg'%} " class="img-fluid" alt="">
            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Viagens para estudantes simplificada</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Junte-se a nossa plataforma e faça caronas com outros estudantes</p>

                            <a href="/createuser" class="btn custom-btn">Crie sua conta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slick-custom">
            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Encontre viagens em diversas regiões do estado</h1>

                            <p class="lead text-white mt-lg-3 mb-lg-5">Viagens seguras feitas de estudantes para estudantes.</p>

                            <a href="/find_rides/" class="btn custom-btn">Encontrar viagens</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-12 text-center">
                    <h2 class="mb-5">Viagens disponíveis</h2>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="/find_rides/">
                            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">17:30</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="/find_rides/" class="product-title-link">Araranguá -> Meleiro</a>
                                </h5>

                                <p class="product-p">Polo Highline</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">R$ 25</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="/find_rides/">
                            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">17:30</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="/find_rides/" class="product-title-link">Araranguá -> Meleiro</a>
                                </h5>

                                <p class="product-p">Polo Highline</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">R$ 25</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a href="/find_rides/">
                            <img src="{% static 'images/slideshow/im2.jpg' %}" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">17:30</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="/find_rides/" class="product-title-link">Araranguá -> Meleiro</a>
                                </h5>

                                <p class="product-p">Polo Highline</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">R$ 25</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <a href="/find_rides/" class="btn custom-btn">Ver todas as viagens</a>
                </div>

            </div>
        </div>
    </section>
    
{% endblock %}
